{% extends 'base.parent.html.twig' %}

{% block title %}Liste des notes{% endblock %}

{% block body %}
<div class="row ">
    <div class="card col-sm-8 mx-auto py-3">

        <div class="card-body">
            <div class="d-flex mb-4 align-items-start">
               <div class=" ">
                {% if eleve.photo %}
                <img src={{asset("images/"~eleve.photo)}} width="100px" height="100" class="">
                {% else %}
                <img src={{asset("assets/logo/logo-syschool1.jpg")}} width="60px" class="">
                {% endif %}
               
               </div>
                <div class="ms-4 mt-0">
                    <p class="m-0">Nom : <strong>{{eleve.nom}}</strong></p>
                    <p class="m-0">Prénoms : <strong>{{eleve.prenom}}</strong></p>
                    <p class="m-0">Matricule : <strong>{{eleve.matricule}}</strong></p>
                    <p class="m-0"> Classe : <strong>{{eleve.classe.nom}}</strong></p>
                </div>
   
            </div>
            <hr/>
            {% if notes|length %}      
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>NOTE</th>
                            <th>MATIERE</th>               
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                        <tr>
                            <td>{{note.note}}</td>
                            <td>{{note.matiere}}</td>                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% else %}
            <h4>Aucune note</h4>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}