{% extends 'base.ecole.html.twig' %}

{% block title %}Hello EEleveController!{% endblock %}

{% block body %}

<div class="row ">
    <div class="card">

        <div class="card-body">

            {% if eleves %}
            <h4 class="card-title">Liste des eleves disponible</h4>
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Parent</th>
                            <th>Classe</th>
                            <th>Actions</th>

                        </tr>
                    </thead>


                    <tbody>
                        {% for eleve in eleves %}
                        <tr>
                            <td>{{eleve.id}}</td>
                            <td>{{eleve.nom}}</td>
                            <td>{{eleve.prenom}}</td>
                            <td>{{eleve.parent.nom}}</td>
                            <td>{{eleve.classe.nom}}</td>
                            
                            <td>
                                <button type="button" class=" btn-link btn btn-primary   mr-2"><a href="{{path("edit_eleve",{"id":eleve.id})}}" class="text-light ">Editer</a></button>
                                <button type="button" class="btn btn-warning   mr-2"><a href="{{path("del_eleve",{"id":eleve.id})}}" class="text-light ">Supp</a></button>
                            </td>


                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>

            {% else %}
            <h4>Aucun eleve</h4>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
