{% extends 'base.ecole.html.twig' %}

{% block title %}Liste des parents!{% endblock %}
{% block body %}
<div class="row">
    <div class="card">
        
        <div class="card-body">
            <h4 class="">Ajouter un nouveau parent</h4>
           {{form_start(form)}}
           <div class="form-group">
            {{form_row(form.nom,{"attr":{"placeholder":"","class":"form-control"},"label":"Nom:"})}}
           </div>
            <div class="form-group">
            {{form_row(form.prenom,{"attr":{"placeholder":" ","class":"form-control"},"label":"Prenom:"})}}
           </div>
           
            <div class="form-group">
            {{form_row(form.telephone,{"attr":{"placeholder":"","class":"form-control"},"label":"Telephone:"})}}
           </div>
           
             <div class="form-group hidden">
            {{form_row(form.email,{"attr":{"placeholder":"","class":"form-control "},"label":"email:"})}}
           </div>
        
            <div class="form-group hidden">
            {{form_row(form.password,{"attr":{"placeholder":"","class":"form-control  "},"label":"Mot de passe:"})}}
           </div> 
     
           <button type="submit" class="btn btn-primary bg-info  mr-2">Modifier </button>
        <button type="reset" class="btn btn-light">Cancel</button>
           {{form_end(form)}}
        </div>
        
        </div>
    </div>
{% endblock %}