{% extends 'base.ecole.html.twig' %}

{% block title %}Liste des parents!{% endblock %}

{% block body %}
<div class="row ">
    <div class="card">

        <div class="card-body">

            {% if parents %}
            <h4 class="card-title">Liste des parents disponible</h4>
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Localisation</th>
                            <th>Status</th>
                            <th>Actions</th>

                        </tr>
                    </thead>


                    <tbody>
                        {% for parent in parents %}
                        <tr>
                            <td>{{parent.id}}</td>
                            <td>{{parent.nom}}</td>
                            <td>{{parent.prenom}}</td>
                            <td>{{parent.email}}</td>
                            <td>{{parent.telephone}}</td>
                            <td>{{parent.localisation}}</td>
                            <td>{{parent.isActif ? "Actif":"Non actif"}}</td>
                            <td>
                                <button type="button" class=" btn-link btn btn-primary   mr-2"><a href="{{path("edit_parent",{"id":parent.id})}}" class="text-light ">Editer</a></button>
                                <button type="button" class="btn btn-warning   mr-2"><a href="{{path("del_parent",{"id":parent.id})}}" class="text-light ">Supp</a></button>
                            </td>


                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>

            {% else %}
            <h4>Aucun parents</h4>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}